# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore package-lock.json or yarn.lock 
package-lock.json
yarn.lock

# Ignore temporary files
*.tmp
*.cache

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore VSCode settings
.vscode/
